body {
  font-family: "Recursive", sans-serif;
  background-color: #2d3250;
  padding: 50px;
  color: #f9b17a;
}

.login-form {
  max-width: 400px;
  margin: auto;
  background-color: #282e55;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #f9b17a;
}

.btn-register {
  margin-left: 20px;
}

@media (max-width: 576px) {
  .login-form {
    padding: 20px;
  }
}
